.pagination {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid gray;
  border-radius: 0;

  .pagination-link {
    button {
      background: white;
      font-size: 18px;
      color: black;
      border: none;

      &:hover {
        background: #f2f2f2;
      }
    }
  }
}

@media only screen and (max-width: 736px) {
    .product-list-container {
      .product-item {
        width: 100%;
        text-align: center;
        padding-bottom: 10%;
      }
    }

    .expanded {
      display: flex;
      justify-content: space-between;

      .mainImage {
        margin-left: -40px;
      }
    }

    .pagination {
      justify-content: space-around;
    }
}


.center {
  text-align: center;
}

@media only screen and (min-width: 737px) {



.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-item {
      text-align: left;
      margin: 2% 5%;
      width: 20%;
      justify-content: center;
      display: flex;

      .details {
        padding-left: 5%;
      }

      .mainImage {
        padding-bottom: 10px;
      }

      .designer {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: bold;
      }

      .name {
        font-weight: 300;
      }

      &.expanded {
        transition: width 1s;
        width: 100%;
        text-align:center;
        display:flex;
        justify-content: space-around;

        img {
          padding-right:5%;
        }

        .designer {
          font-size:22px;
        }

        .name {
          font-size: 18px;
        }

        .price {
          font-size: 20px;
        }

      }
    }
}

}
