.center {
  text-align: center;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-item {
      text-align: center;
      margin: 2% 5%;
      width: 20%;
    }
}
